[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
Environment=GOMAXPROCS=2
Restart=on-failure

ExecStart=<%= node['vault']['service']['ExecStart'] %>
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/local/bin/consul leave
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
