#!/usr/bin/env bash

start(){
	<%= node['vault']['service']['ExecStart'] %> &
}

stop(){
	<%= node['vault']['install_dir'] %>/vault leave
	pkill vault
}

restart(){
    stop
    start
}

# See how we were called.
case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart)
    restart
    ;;
  *)
    echo $"Usage: $0 {start|stop|status|restart}"
    exit 2
esac

exit $?